<h2 class="overview-header">Lampen</h2>

<div class="container" *ngIf="!selectedLight && !lightSearch">
  <div *ngFor="let light of lightList | keyvalue" class="item">
    <img [src]="light.value.state.on ? 'assets/light_on.png' : 'assets/light_off.png'" (click)="toggleLight(light.value.state.on, light.key)"
      [style.background-color]="light.value.state.on ? '#f2e63c' : 'black'" class="item-image click-cursor">
    <div class=controls>
      <button type="button" class="controls-button click-cursor" (click)="viewSelectedLight(light.key)">
        <img src="assets/settings.png" class="">
      </button>
    </div>
    <input type="text" [value]="light.value.name" placeholder="{{light.value.name}}" disabled>
  </div>
  <div class="float-clear"></div>

  <div class="add-button click-cursor" (click)="startAddingLights()">
    <img src="assets/plus.png">
  </div>
</div>

<app-detail *ngIf="selectedLight" [selectedLight]="selectedLight" [id]="id" (nameChange)="saveLightName($event.value, $event.id, $event.type)"
  (back)="clearSelectedLight()" (delete)="deleteSelectedLight($event)" (lightToggled)="toggleLightDetail($event, id)"
  (stateChange)="changeState($event, id)"></app-detail>

<app-light-search *ngIf="lightSearch" (back)="clearLightSearch()"></app-light-search>
