<h2 class="overview-header">Lampen
  <div class="add-button-phone-light click-cursor" *ngIf="!selectedLight && !lightSearch" (click)="lightSearch = true">
      <button class="click-cursor add-button float-right" (click)="lightSearch = true">+ Lichter</button>
  </div>
  <div class="float-clear"></div>
</h2>


<div class="container" *ngIf="!selectedLight && !lightSearch">
  <div *ngFor="let light of lightList | keyvalue" class="item">
    <img [src]="light.value.state.on ? 'assets/light_on.png' : 'assets/light_off.png'" (click)="toggleLight(light.value.state.on, light.key)"
      [style.background-color]="light.value.state.on ? '#f2e63c' : 'black'" class="item-image click-cursor">
    <div class=controls>
      <button type="button" class="controls-button click-cursor" (click)="refreshSingleLight(light.key)">
        <img src="assets/settings.png" class="">
      </button>
    </div>
    <p class="name">{{ light.value.name }}</p>
  </div>
  <div class="float-clear"></div>

  <div class="add-button-group">
    <button class="click-cursor add-button" (click)="lightSearch = true">Lichter suchen</button>
  </div>
</div>

<app-detail *ngIf="selectedLight" [selectedLight]="selectedLight" [id]="id" (nameChange)="saveLightName($event.value, $event.id, $event.type)"
  (back)="clearSelectedLight()" (delete)="deleteSelectedLight($event)" (lightToggled)="toggleLightDetail($event, id)"
  (stateChange)="changeState($event, id)"></app-detail>

<app-light-search *ngIf="lightSearch" (back)="clearLightSearch()"></app-light-search>
