h2 {
  position: sticky;
  top: 0px;
  background-color: grey;
  z-index: 10;
  margin: 0;
  padding: 1%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
}

.item {
  flex-basis: 25%;
  margin: 15px;
  padding: 10px;
}

.item-image {
  padding: 10px;
  border-radius: 50%;
}

.item-image:hover {
  opacity: 0.7;
}

.controls-button {
  padding: 0;
  background: transparent;
  border: none;
  margin: 5px;
  transform: scale(1.2);
}

.controls-button:hover {
  opacity: 0.7;
}

.controls {
  width: 80px;
  margin: 0 auto;
  /* float: right; */
}

.color-picker {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.float-clear {
  clear: both;
}

.click-cursor {
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .controls-button {
    padding: 0;
    background: transparent;
    border: none;
    display: inline;
  }

  .controls {
    width: 50px;
    margin: 0 auto;
  }
}
