<div>
  <input type="text" name="nickname" placeholder="choose nickname" [(ngModel)]="user.nickname">
  Press Bridge button then hit Create User in the next 30s<button type="button" (click)="startUserCreation()">Create User</button>
  <p>TODO make it look nice</p>
  <p>implement password check for recurring users</p>
  <p>outside lamp control?</p>
  <p>Enter username and password, send both to backend to check against database, if username exists, check password. If that matches
    return true and save the username in the frontend like usual to access main page</p>
</div>
