<div>
  <input type="text" name="nickname" placeholder="choose nickname" [(ngModel)]="user.nickname">
  Press Bridge button then hit Create User in the next 30s<button type="button" (click)="startUserCreation()">Create User</button>
</div>

<p>implement password check for recurring users</p>
<p>Enter nickname and password, send both to backend to check against database, if nickname exists, check password. If that matches
  return true and save the username in the frontend like usual to access main page</p>
