<button (click)="backButtonClicked()" class="float-left back-button">Zurück</button>
<button *ngIf="selectedGroup" (click)="[isConfirmingDelete = true, parent = 'group']" class="float-right delete-button">Löschen</button>
<div class="float-clear"></div>

<div *ngIf="isCreatingGroup || isCreatingRoom && !isChangingLights">
    <div *ngIf="isCreatingGroup || isCreatingRoom">
      <h4>Namen eingeben:</h4>
      <input class="name-input" type="text" placeholder="Bitte Namen eingeben" [(ngModel)]="groupName" required
        minlength="4" maxlength="16">
      <h4>Raumtyp auswählen:</h4>
      <select class="room-select" [(ngModel)]="selectedRoomClass" *ngIf="isCreatingRoom">
        <option value="Living room">Wohnzimmer</option>
        <option value="Kitchen">Küche</option>
        <option value="Dining">Essbereich</option>
        <option value="Bedroom">Schlafzimmer</option>
        <option value="Office">Büro</option>
        <option value="Bathroom">Badezimmer</option>
        <option value="Toilet">Toilette</option>
        <option value="Hallway">Flur</option>
        <option value="Garden">Garten</option>
        <option value="Terrace">Terrasse</option>
      </select>
      <select class="room-select" [(ngModel)]="selectedRoomClass" *ngIf="isCreatingGroup">
          <option value="group">Gruppe</option>
      </select>
    </div>

    <div>
      <h4>Lampen zum Raum hinzufügen:</h4>
    </div>

    <div class="group-lights">
      <ul class="light-list">
        <li *ngFor="let light of unusedLights | keyvalue">
          <input class="list-checkbox" type="checkbox" name="light.value.name" (change)="onLightSelection(light.key, $event.target.checked)">
          <label class="list-label" for="light.value.name">{{ light.value.name }}</label>
        </li>
      </ul>
      <p>{{ helpText }}</p>

      <button *ngIf="isCreatingRoom && helpText === '' && !isCreatingGroup" type="button" class="click-cursor save-button"
        (click)="startGroupCreation(groupName, selectedLights, selectedRoomClass)">
        Speichern
      </button>
      <button *ngIf="isCreatingGroup && selectedLights.length > 0 && selectedRoomClass === 'group'" type="button" class="click-cursor save-button"
        (click)="startGroupCreation(groupName, selectedLights, selectedRoomClass)">
        Speichern
      </button>
    </div>
</div>

<div *ngIf="isChangingLights && !isCreatingGroup">
  <p><b>{{ selectedGroup.name }}</b></p>
  <p>Derzeitige Lampen</p>
  <ul class="light-list">
    <li *ngFor="let light of usedLights | keyvalue">
      <input checked class="list-checkbox" type="checkbox" name="light.value.name" (change)="onLightRemoval(light.key, $event.target.checked)">
      <label class="list-label" for="light.value.name">{{ light.value.name }}</label>
    </li>
  </ul>

  <p>Zur Verfügung stehende Lampen</p>
  <p *ngIf="isListEmpty">Derzeit stehen keine Lampen zur Verfügung</p>
  <ul class="light-list">
    <li *ngFor="let light of unusedLights | keyvalue">
      <input class="list-checkbox" type="checkbox" name="light.value.name" (change)="onLightRemoval(light.key, $event.target.checked)">
      <label class="list-label" for="light.value.name">{{ light.value.name }}</label>
    </li>
  </ul>

  <button type="button" class="click-cursor save-button" (click)="startSavingGroup(groupName, selectedLights)">
    Speichern
  </button>
</div>

<app-delete-confirmation *ngIf="isConfirmingDelete" [parent]="parent" [sceneId]="id" (delete)="deleteButtonClicked($event)"
  (cancel)="isConfirmingDelete = false"></app-delete-confirmation>
