.delete-confirmation-blackout {
  position: absolute;
  top: 50%;
  min-height: 30%;
  background-color: rgba(0, 0, 0, 80%);
}

.delete-confirmation-box {
  margin-top: 7vh;
}

.confirm-light {
  margin: 0 1%;
  width: 36vw;
}

.confirm-group {
  margin: 0 1%;
  width: 54.8%;
}
