body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100%;
}

app-home {
  height: 97vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
}

app-group, app-light {
  border: 1px solid black;
  height: 90%;
  overflow-y: auto;
}

.overview-header {
  position: sticky;
  top: 0px;
  background-color: grey;
  z-index: 10;
  margin: 0;
  padding: 1%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-clear {
  clear: both;
}

.click-cursor {
  cursor: pointer;
}

.add-button {
  position: absolute;
  bottom: 2%;
  border-radius: 50%;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
}

.item {
  flex-basis: 30%;
  padding: 10px;
  margin: 0 auto;
}

.item-image {
  padding: 2%;
  border-radius: 20%;
  margin: 2% 0;
}

.item-image:hover {
  opacity: 0.7;
}

.controls-button {
  padding: 0;
  background: transparent;
  border: none;
  margin: 5px;
  transform: scale(1.2);
}

.controls-button:hover {
  opacity: 0.7;
}

.controls {
  width: 80px;
  margin: 2% auto;
}

.color-picker {
  width: 30px;
  height: 30px;
}

.light-list {
  list-style: none;
  width: 40%;
  margin: 2% auto;
}

.list-checkbox {
  float: left;
}

@media only screen and (max-width: 1200px) {
  .controls-button {
    padding: 0;
    background: transparent;
    border: none;
    display: inline;
  }

  .controls {
    width: 50px;
    margin: 0 auto;
  }
}
