<app-createuser (userCreated)="setUser($event)" *ngIf="!user.username"></app-createuser>

<div *ngIf="user.username" class="title">
  <h2 class="header">{{ user.nickname }}'s Hue Controller</h2>
  <!-- <button type="button" class="departure-button">Abfahrten</button> -->
</div>
<div class="row main" *ngIf="user.username">
  <app-group class="column centered" (groupsRefreshed)="light.refreshAllLightsOnly()" #group></app-group>
  <app-light class="column centered" (lightsRefreshed)="group.refreshAllGroupsOnly()" #light></app-light>
</div>
